
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
}
<div class="text-center">
    Your password has been changed successfuly
    <small>To re login in to your account, kindly click on Done.</small>
    <a href="Login" class="btn btn-primary">Click Here To Login</a>
</div>
