@{
    Layout = "~/Views/Shared/FooterLayout.cshtml";
    ViewData["Title"] = "ForgetPasswordConfirmation";
}
<style>
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:black;">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Moitele.Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav navbar-nav navbar-right">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="">Back to Moitele.com</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    Your password has been changed successfuly
    <small>To re login in to your account, kindly click on Done.</small>
    <a href="Login" class="btn btn-primary">Click Here To Login</a>
</div>
