@model VoipApplicationProject.Models.CustomerModel

@{
    Layout = "~/Views/Shared/FooterLayout.cshtml";
    ViewData["Title"] = "ForgotPassword";
}

<style>
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:black;">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Moitele.Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav navbar-nav navbar-right">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Login">Sign in</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Customer" asp-action="SignUp">Join Now</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="col-md-4 mx-auto ">
    <h3 class="text-center">First. let's find your account</h3>
    <div class="text-center"><label>Please enter your email ID</label></div>
    <form asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Enter your Email*" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group text-center ">
            <a href="Login" class="btn btn-light border">Cancel</a>
            <input type="submit" value="Find Account" class="btn btn-primary " id="myBtn" />
        </div>
    </form>
</div>
<div class="toast" id="t1" data-autohide="false" style="margin-left:1000px;margin-top:-200px">
    <div class="toast-header">
        <strong class="mr-auto text-primary">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        Reset password URL has been sent to the email successfully!
    </div>
</div>
<div class="toast" id="tt" data-autohide="false" style="margin-left:1000px;margin-top:-100px">
    <div class="toast-header">
        <strong class="mr-auto text-primary">Failed</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        Your email doesn't exist. Please try again with valid email.
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (!String.IsNullOrEmpty(ViewBag.ShowAlert))
{
    if (ViewBag.ShowAlert == "success")
    {
        <script>
            $("#t1").toast('show');
        </script>
    }
    else
    {
        <script>
            $("#tt").toast('show');
        </script>
    }

}