@model VoipApplicationProject.Models.CustomerModel

@{
    Layout = "~/Views/Shared/FooterLayout.cshtml";
    ViewData["Title"] = "ResetPassword";
}

<style>
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:black;">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Moitele.Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav navbar-nav navbar-right">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Login">Sign in</a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Customer" asp-action="SignUp">Join Now</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <small>Note: Password length should be 8 characters with one upper case alphabet, one number and one special character required.</small>
    <h3 class="mt-3">Finally, choose a new password</h3>
    <label>Password must include at least 8 characters including at least 1 number or 1 special character</label>
    <form asp-action="ResetPassword">
        <div class="col-md-4 mx-auto mt-3">
            <input type="hidden" id="TxtToken" name="Token" />
            <input type="hidden" id="TxtEmail" name="Email" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-left">
                <label class="control-label">New Password *</label>
                <input asp-for="Password" class="form-control" placeholder="Password*" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-left">
                <label class="control-label">Confirm Password *</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password*" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group toast-header" id="toast">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#toast').toast('show');
    });</script>
@*@if (!String.IsNullOrEmpty(ViewBag.ShowAlert))
    {
        if (ViewBag.ShowAlert == "failed")
        {
            <script>alert("Reset password failed. Please try again!");</script>
        }
    }*@
<script src="/lib/jquery/dist/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        var email = getUrlVars()["email"];
        var token = getUrlVars()["token"];

        $("#TxtToken").val(token);
        $("#TxtEmail").val(email);
    });

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>