@model VoipApplicationProject.Models.CustomerModel

@{
    Layout = "~/Views/Shared/FooterLayout.cshtml";
    ViewData["Title"] = "SignUp";
}

<style>
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:black">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Moitele.Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav navbar-nav navbar-right">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Login">Sign in</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </nav>
</header>

<h3 class="text-center">Motile.com Customer Portal</h3>
<div class="text-center mb-2"><small class="font-weight-bold">Make the most of your professional life.</small></div>
<form asp-action="SignUp" class="mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="mb-2"><small>To Register Enter details.</small></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="UserName" class="form-control" placeholder="User Name*" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email ID*" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="Password*" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password*" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center">
        <label>By Clicking Agree & Join</label>
    </div>
    <div class="offset-md-2">
        <label class="ml-2">you agree to motile.com :</label>
        <a href="#">Disclaimer</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">User Agreement Policy</a>
        <a href="#">Cookie Policy</a>
        <div class="col-md-4 offset-md-3 mt-3">
            <input type="submit" value="Agree & Join" class="btn btn-primary btn-block" />
        </div>
    </div>
    <div class="text-center mt-2">
        <label>Already on motile.com? </label>
        <a href="Login">Sign in</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@if (!String.IsNullOrEmpty(ViewBag.ShowAlert))
{
    if (ViewBag.ShowAlert == "menu_error")
    {
        <script>alert("Sorry. Something went wrong. Please try again!");</script>
    }
    else
    {
        <script>alert("@ViewBag.ShowAlert");</script>
    }
}


