<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoipApplicationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/FileSaver.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <style>
        .dropdown-menu:hover {
            display: block;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom" style="height:75px">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color:black">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary bg-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>&nbsp&nbsp
                        <li class="nav-item">
                            <a class="nav-link text-primary bg-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                        </li>&nbsp&nbsp
                        <li class="nav-item">
                            <a class="nav-link text-primary bg-white" asp-area="" asp-controller="Home" asp-action="Terms">Terms and Conditions</a>
                        </li>&nbsp&nbsp
                        <li class="nav-item">
                            <a class="nav-link text-primary bg-white" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <h5 class="text-right text-white">&copy; 2020 Moitele.com. All Right Reserved</h5>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ExportTOExcel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

